<footer class="footer static-bottom">
	<div class="container">
		<%#Row for the page links %>
		<div class="row row-content">
			<div class="col-12 align-self-center">
				<div class="text-center">
					<a
						class="btn btn-social-icon btn-facebook"
						style="background-color: #4267b2; border-radius: 50%"
						href="https://www.facebook.com/cloudybot/"
						rel="Facebook page"
						role="button"
						><i class="fa-brands fa-facebook text-white"></i
					></a>
					<a
						class="btn btn-social-icon btn-linkedin"
						href="https://www.linkedin.com/company/cloudclub-uoft/about/"
						rel="Linkedin Page"
						role="button"
						style="background-color: #0077b5; border-radius: 50%"
						><i class="fa-brands fa-linkedin text-white"></i
					></a>
					<a
						class="btn btn-social-icon btn-github"
						href="https://github.com/CloudClub-uoft"
						rel="Github"
						role="button"
						style="background-color: black; border-radius: 50%"
						><i class="fa-brands fa-github text-white"></i
					></a>
					<a
						href="mailto:cloudclub@yandex.com"
						class="btn btn-social-icon btn-emial"
						rel="Email"
						role="button"
						style="
							background-color: red;
							border-radius: 50%;
							opacity: 75%;
						"
						><i class="fa-regular fa-envelope text-white"></i
					></a>
				</div>
			</div>
		</div>

		<%#Row for the comment%>
		<div class="row row-content">
			<div class="col-12 align-self-center">
				<div class="text-center">
					<small class="d-block mb-3 text-muted"
						>2020-2022. CloudClub. Affiliated with the Engineering
						Society at the University of Toronto.</small
					>
				</div>
			</div>
		</div>
	</div>

	<script src="./assets/js/jquery.min.js.download"></script>
	<script src="./assets/js/popper.js.download"></script>
	<script src="./assets/js/bootstrap.min.js.download"></script>
</footer>
