<footer class="text-center" style = "padding-top: 10px; padding-bottom: 10px; background-color: #343a40!important; margin-left: 0; margin-right: 0;">

	<div class = "footer-container">
		<ul>
			<li><a href = "https://www.facebook.com/cloudybot/" rel = "Facebook page"><i class="fa-brands fa-facebook fa-2xl fb-icon"></i></a></li>
			<li><a href = "https://www.linkedin.com/company/cloudclub-uoft/about/" rel = "Linkedin Page"><i class="fa-brands fa-linkedin fa-2xl linkedin-icon"></i></a></li>
		</ul>
	</div>

	<div>
		<div class="col-12 col-md">
			<small class="d-block mb-3 text-muted">2020-2022. CloudClub. Affiliated with the Engineering Society at the
				University of Toronto.</small>
		</div>
	</div>

</footer>