<footer class="container py-5 text-center">
	<div class="row">
		<div class="col-12 col-md">
			<small class="d-block mb-3 text-muted">2020-2022. CloudClub. Affiliated with the Engineering Society at the
				University of Toronto.</small>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md">
			<button type="button" class="btn btn-primary btn-sm" onClick="window.open('https://www.facebook.com/cloudybot/')" 
			style="border-radius: 20px; font-size: 12px">Contact us</button>
		</div>
	</div>
</footer>