<div
	class="d-flex w-100 justify-content-between list-group-item list-group-item-action active"
	style="padding-top: 2.1cm; margin-bottom: 1.1cm"
>
	<div class="col-md-6">
		<div class="forum-title">
			<h1 class="text-white">CloudConvos ☁️</h1>
		</div>
	</div>
	<div class="col-md-6">
		<div class="flex-box-2">
			<a
				href="/newpost"
				class="btn btn-md active btn-outline-success btn-lg"
				role="button"
				aria-pressed="true"
				>New Post</a
			>
		</div>
	</div>
</div>

<style>
	.flex-box-2 {
		display: flex;
		justify-content: flex-end;
	}
</style>
