<div style="width: 100%; height: 50px; background: #50bde4; text-align: center; position:fixed; justify-content: center;">
    <img alt="CloudClub Logo" width="50px" height="50px" src="https://cloudclub.ca/assets/favicon.png">
</div>
<div style="padding-block: 50px">
    <div style="width: 25%; margin:auto;">
        <p style="font-size:20px;text-align:center;">
            <strong>
                Hello there {{name}}, 
            </strong>
        </p>
        <div style="display: inline-block;">
            <p style="text-align:left;">Almost done! To reset your CloudClub account password, follow the instructions in the link below: </p>
            <p style="text-align:center;"><a href="{{token}}"> Click Here </a> to reset your password.</p>
            <p style="text-align:left;">This reset link is valid for 15 minutes, after that you will have to request a new one. If you have not made this request, your account might have been compromised</p>
            <p style="font-size:20px;text-align:center;">Thank you,</p>
            <p style="font-size:20px;text-align:center;">CloudClub UofT | 2022-2023</p>
        </div>
    </div>
</div>
