<!DOCTYPE html>
<html>
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">
    <b>
        <a href="<%- api_host -%>/api/v1/web/guest/default/<%-link_name-%>">
            <%-api_host-%>/api/v1/web/guest/default/<%- link_name -%>
        </a>
    </b>
</html>