<!-- <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">CloudClub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Homepage <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="teampage.html">The Team</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        
      </form>
    </div>
  </nav>
</header> -->

    <!-- Is it okay to have 2 bodies? -->
    <body class="text-center">
        <form class="form-signin" action="/login" method="POST">
            <img class="mb-4" src="../assets/CloudClub.png" alt="" width=80% height="80%">
            <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <a href="/register">Register an account</a>
            
            <!-- Manually override button colour for now -->
            <button class="btn btn-lg btn-primary btn-block" style="background-color: #50BDE4" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2017-2020</p>

            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=2000 stye="positon:absolute;">
              <div class="toast-header">
                <strong class="mr-auto">Error!</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body"></div>
            </div>

            <script type="text/javascript">
              $('.form-signin').submit(function(event) {
                event.preventDefault();
                $.ajax({
                  url: '/login',
                  type: 'POST',
                  cache: false,
                  dataType: 'json',
                  data: {
                    email: $('#inputEmail').val(),
                    password: $('#inputPassword').val()
                  },
                  statusCode: {
                    200: function() {
                      window.location.href = "/";
                    },
                    401: function(response) {
                      $('.toast-body').text(response.responseJSON.Message);
                      $('.toast').toast('show');
                    }
                  }
                })
              });
            </script>
        </form>
    </body>