<!-- Create a post page (by ID) -->

<body>
    <!-- <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Post Description</span>
        </div>
        <textarea id=body class="form-control" aria-label="With textarea"></textarea>
    </div> -->
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Post Subject</label>
          <input type="subject" class="form-control" id="subject" placeholder="Write Your Title Here">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Post Description</label>
          <textarea class="form-control" id="body" rows="8"></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" style="background-color: #50BDE4" type="submit">Create Post</button>
    </form>
</body>