<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1>Error 404</h1>
                    <img class="card-img-top"
                        src='/assets/favicon.png'>
                    </img>
                    <h4>Oops! This page Could Not Be Found!</h4>
                    <p>Sorry but the page you are looking for does not exist.</p>
                    <a href="/" class="btn btn-primary btn-round">Go to homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .error-content {
        padding: 70px;
    }
    .card-img-top {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center
    }
    .error-text{
        text-align: center;
    }
    .error {
        font-size: 180px;
        font-weight: 100;
    }
</style>