<style>
.project-box {
    width: 80%; 
    height: 350px; 
    border-radius: 21px 21px 0 0; 
    background-position: center; 
    background-attachment: fixed;
}
</style>
<div class="flex-md-equal w-100 my-md-3 pl-md-3">
	<!-- remove d-md-flex-->
	<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" id="IoT">
		<div class="my-3 py-3">
			<h2 class="display-5">Guess the Location</h2>
			<p class="lead"> Guess the location is a game that we are building in the 2023-24 school year. Users will have the chance to post a picture they took themselves and ask others to guess the location! 

			</p>
		</div>
		<div class=" bg-light shadow-sm  container  d-flex flex-column-reverse mx-auto project-box"
			style="background-image: url('./assets/street_view.jpg');">
			<div class="p-5"><a href="https://github.com/CloudClub-uoft/GuessTheLocation" class="btn btn-primary my-auto" target="_blank">Guess the Location</a></div>
		</div>
	</div>
	<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" id="Skule_Adventures">
		<div class="my-3 py-3">
			<h2 class="display-5">Skule Adventures!</h2>
			<p class="lead">Skule Adventures is a arcade-style platformer created by engineering students in the games division of Cloud Club. The game revolves around a first year engineer trying to traverse the UofT campus and make their way to their final exam at the dreaded examination center. From the Sandford Fleming pit to the Lassonde mining building, you'll have to make your way through the perils of first year.
				The game itself was developed using JavaScript using an object-oriented library called Phaser JS. This library allowed us to quickly test and deploy a working game in no time. There were 3 main components to the development of this game, the front-end assets, the level design, and all the behind-the-scenes logic that drive the game. The next step in our game development story will be to add online multiplayer co-op!</p>
		</div>
		<div class=" bg-light shadow-sm  container  d-flex flex-column-reverse mx-auto project-box"
			style="background-image: url('./assets/player.png');">
			<div class="p-5"><a href="https://fast-ocean-31681.herokuapp.com/Mario%20Game/index.html" class="btn btn-primary my-auto" target="_blank">Play the game!</a></div>
		</div>
	</div>
	<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="Club_Website">
		<div class="my-3 p-3">
			<h2 class="display-5">This Website</h2>
			<p class="lead">The website team has developed this website over the fall 2020 semester with awesome frameworks such as Bootstrap, Node.js, Express and MySQL. We have already created the login and registration systems for the website and intend to tie it together with services that we create in the future.</p>
			<div class="bg-dark shadow-sm container d-flex flex-column-reverse mx-auto project-box"
				style="background-image: url('./assets/boot.png');">
				<div class="p-5"> <a href="/" class="btn btn-primary my-auto">Homepage</a></div>
			</div>
		</div>
	</div>
	
	<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" id="AI_ML">
		<div class="my-3 py-3">
			<h2 class="display-5">AI and ML Division</h2>
			<p class="lead">A new division at CloudClub that aims to harness the power of popular ML tools like PyTorch. Stay tuned as we work on projects using image generation and AI-based game players.</p>
		</div>
		<div class="bg-light shadow-sm container d-flex flex-column-reverse mx-auto project-box"
			style="background-image: url('./assets/CloudAI.png'); background-position: 50% 25%;">
			<div class="p-5"> <a class="btn btn-primary my-auto">Coming Soon!</a></div>
		</div>
	</div>
	<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="Skulengeon">
		<div class="my-3 py-3">
			<h2 class="display-5">Escape from the Skulengeon</h2>
			<p class="lead">From the creators of <b>Skule Adventures</b> comes a top-down pixelart dungeon crawler. The spiritual sequel to Skule Adventures, an engineer explores the various buildings of St. George campus, fighting enemies of all shapes and sizes while collecting loot. <i>More information soon!</i></p>
		</div>
		<div class="bg-dark shadow-sm container d-flex flex-column-reverse mx-auto project-box"
			style="background-image: url('./assets/skulengeon-2.png'); background-position: 50% 25%;">
			<div class="p-5"> <a class="btn btn-primary my-auto" href="https://dungeon-crawler-cc.herokuapp.com/Build/build.html">Play the game!</a></div>
		</div>
	</div>
	<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" id="IoT">
		<div class="my-3 py-3">
			<h2 class="display-5">Internet of Things Project</h2>
			<p class="lead">The IoT Project aims to create a system of interconnected nodes that are able to securely send and receive messages between each other. The devices are connected using the MQTT protocol and an authentication system has been developed to exchange messages and create connections between them. 
				A user dashboard is in the works to view registered devices and to obtain self-signed SSL certificates for connecting devices with the MQTT broker. A standalone HTTPS API has also been created to upload data from devices that do not have MQTT functionality. The project takes advantage of a MongoDB database that is tailored for IoT data storage.</p>
		</div>
		<div class=" bg-light shadow-sm  container  d-flex flex-column-reverse mx-auto project-box"
			style="background-image: url('./assets/IoT_project.jfif');">
			<div class="p-5"><a href="https://iot.cloudclub.ca" class="btn btn-primary my-auto" target="_blank">IoT Project</a></div>
		</div>
	</div>

	
</div>
