<body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="../assets/CloudClub.png" alt="" width=80% height="80%">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
    <!-- <label for="inputFirstName" class="sr-only">First Name</label> -->
    <input type="text" name="firstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
    <!-- <label for="inputLastName" class="sr-only">Last Name</label> -->
    <input type="text" name="lastName" id="inputLastName" class="form-control" placeholder="Last Name" required>
    <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email Address" required>
    <!-- <label for="inputPassword" class="sr-only">Password</label> -->
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <!-- Manually override button colour for now -->
    <button class="btn btn-lg btn-primary btn-block" style="background-color: #50BDE4" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">CloudClub UofT | 2020-2021</p>
    <!-- Bad register notif -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=2000 style="position:absolute;">
      <div class="toast-header">
        <strong class="mr-auto" id="toasttitle"></strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body"></div>
    </div>
  </form>
  
  <script type="text/javascript">
    $('.form-signin').submit(function(event) {
      event.preventDefault();
      $.ajax({
        url: '/register',
        type: 'POST',
        cache: false,
        dataType: 'json',
        data: {
          first: $('#inputFirstName').val(),
          last: $('#inputLastName').val(),
          email: $('#inputEmail').val(),
          password: $('#inputPassword').val()
        },
        statusCode: {
          201: function(response) {
            $('#toasttitle').text("Success!")
            $('.toast-body').text(response.message);
            $('.toast').toast('show');
            setTimeout(()=>{window.location.href = `<%-r-%>`}, 1500);
            // $.ajax({
            //     url: '/login',
            //     type: 'POST',
            //     cache: false,
            //     dataType: 'json',
            //     data: {
            //       email: $('#inputEmail').val(),
            //       password: $('#inputPassword').val()
            //     },
            //     statusCode: {
            //       200: function() {
            //         window.location.href = "/";
            //       },
            //       401: function(response) {
            //         alert(response.responseJSON.Message);
            //       }
            //     }
            //   });
          },
          400: function(response) {
            $('#toasttitle').text("Failed to register!")
            $('.toast-body').text(response.responseJSON.error);
            $('.toast').toast('show');
          },
          409: function(response) {
            $('#toasttitle').text("Failed to register!")
            $('.toast-body').text(response.responseJSON.error);
            $('.toast').toast('show');
          },
          500: function(response) {
            $('#toasttitle').text("Error!")
            $('.toast-body').text(response.responseJSON.error);
            $('.toast').toast('show');
          }
        }
      })
    });
  </script>
</body>
