<body>
  <style>
    body {
      padding-top: 3rem;
      padding-bottom: 3rem;
      color: #007f96;
    }

    .team-title {
      color: rgb(0, 0, 0);
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 80px;
    }

    .card-image {
      object-fit: cover;
    }
  </style>
  <div class="container marketing">
    <div class="team-title">
      <h1 class="team-title cloud">OUR TEAM</h1>
      <h1>2021-2022</h1>
    </div>
    <div class="album py-5 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/harsimrat.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Harsimrat Singh</h1>
              <p class="card-text">Hello! My name is Harsimrat. I'm an ECE 2T2 and the co-founder of CloudClub. I love
                cloud computing!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="http://github.com/harsimrat99"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/harsimrat99/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card mb-4 shadow-sm" style="float:none; margin:0 auto;" style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/shayshu.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Shayshu Nahata</h1>
              <p class="card-text">Hiya! I'm an ECE 2T2, and I'm currently leading the game development division of
                CloudClub and working as a software engineer at BNS. I'm really passionate about AI and algorithm
                design, and hope to peruse some postgraduate studies in those fields!
              </p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/Shayshu-NR"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/shayshu-nr"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/preet.jpeg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Preet Mistry</h1>
              <p class="card-text">Halloooo! I am an ECE2T2, I am currently leading the AI division of CloudClub. I love
                futurism! Whether it be about space, AI, or simply the way we live in the future.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/pmistry9597"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/preet-mistry/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/ian.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Ian Webster</h1>
              <p class="card-text">Hey! I’m Ian, an ECE 2T2. I try to make our pages look pretty on CloudClub’s Frontend
                team.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/iWebster28"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/ian-webster-1918b1158/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/gabrielle.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Gabrielle Flavien</h1>
              <p class="card-text">My name is Gabrielle Flavien and I’m a Track One 2T4. I’m currently working on the
                SKULE Adventures game. I enjoy coding, reading and baking and I’m planning to pursue civil engineering.
              </p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <!-- <a role="a" class="btn btn-sm btn-info" href="https://github.com/lilkarti" target="_blank">GitHub</a> -->
                  <a role="a" class="btn btn-sm btn-primary"
                    href="https://www.linkedin.com/in/gabrielle-flavien-25ab39200/" target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/bryce.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Bryce Lepasana</h1>
              <p class="card-text">Hey! My name is Bryce. I'm an ECE 2T4 currently working on the Website
                and game team! There's nothing better than learning something new and applying it to a 
                cool project!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="http://github.com/harsimrat99"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/harsimrat99/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
  <div class="container marketing">
    <div class="team-title">
      <h1>2020-2021</h1>
    </div>
    <div class="album py-5 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/harsimrat.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Harsimrat Singh</h1>
              <p class="card-text">Hello! My name is Harsimrat. I'm an ECE 2T2 and the co-founder of CloudClub. I love
                cloud computing!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="http://github.com/harsimrat99"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/harsimrat99/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card mb-4 shadow-sm" style="float:none; margin:0 auto;" style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/jayden.JPG" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Jayden Lefebvre</h1>
              <p class="card-text">Hiya! I'm Jayden :) I'm an EngSci 2T4, and I lead the Club Website project. I'm
                interested in IoT and machine intelligence. Check out my GitHub!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="http://github.com/JLefebvre55"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary"
                    href="https://www.linkedin.com/in/jayden-lefebvre-114bb4164/" target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card mb-4 shadow-sm" style="float:none; margin:0 auto;" style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/shayshu.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Shayshu Nahata</h1>
              <p class="card-text">Hiya! I'm an ECE 2T2, and I'm currently leading the game development division of
                CloudClub and working as a software engineer at BNS. I'm really passionate about AI and algorithm
                design, and hope to peruse some postgraduate studies in those fields!
              </p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/Shayshu-NR"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/shayshu-nr"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/preet.jpeg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Preet Mistry</h1>
              <p class="card-text">Halloooo! I am an ECE2T2, I am currently leading the AI division of CloudClub. I love
                futurism! Whether it be about space, AI, or simply the way we live in the future.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/pmistry9597"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/preet-mistry/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/ian.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Ian Webster</h1>
              <p class="card-text">Hey! I’m Ian, an ECE 2T2. I try to make our pages look pretty on CloudClub’s Frontend
                team.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/iWebster28"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/ian-webster-1918b1158/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/yunjia.jpg" width="225px" height="225px"
                    alt="My boy Ian on the ledge n shit">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Yunjia Hao</h1>
              <p class="card-text">Hi! My name is Yunjia, and I am an ECE 2T4. I have been working on the frontend for
                the Club Website. A fun fact about me is that I have visited over 10 countries before :)</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/yunjia1" target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/yunjia-hao-076136199/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/adam.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Adam Stechishin</h1>
              <p class="card-text">My name is Adam and I’m an Indy 2T4. Currently, I am a part of the frontend team, 
                which uses various programming languages to develop visual elements for webpages. In the future, I am looking forward 
                to tackling new projects with the club and gaining valuable programming experience.
              </p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/AdamS260" target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/adam-stechishin-986329211"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/kartikey.png" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Kartikey Sachdeva</h1>
              <p class="card-text">I'm in ECE 2T3, and I love basketball and coding. Right now I am working on my
                personal website and a few other projects through the clubs that I am enrolled in. A fun fact about me
                is that I am black belt in karate!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/lilkarti" target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary"
                    href="https://www.linkedin.com/in/kartikey-sachdeva-874a69155/" target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/kevin.png" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Kevin Kim</h1>
              <p class="card-text">Hello! My name is Kevin. I am an Indy 2T4 and I am part of CloudClub’s Website Backend Team. I am excited to gain more experience in web application development, and collaborating on new projects!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/kevinkim101"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="http://www.linkedin.com/in/kevinsunghookim"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/gabrielle.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Gabrielle Flavien</h1>
              <p class="card-text">My name is Gabrielle Flavien and I’m a Track One 2T4. I’m currently working on the
                SKULE Adventures game. I enjoy coding, reading and baking and I’m planning to pursue civil engineering.
              </p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <!-- <a role="a" class="btn btn-sm btn-info" href="https://github.com/lilkarti" target="_blank">GitHub</a> -->
                  <a role="a" class="btn btn-sm btn-primary"
                    href="https://www.linkedin.com/in/gabrielle-flavien-25ab39200/" target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/emily.jpeg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Emily Jiao</h1>
              <p class="card-text">Hi everyone! I’m an Indy 2T3, and I’m part of the logic team for our game, Skule
                Adventures, which I’m really excited for you guys to see!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/emilyjiao" target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/emily-jiao-9aa676155/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/andrew.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Andrew Song</h1>
              <p class="card-text">I am a Track One 2T4. I am part of CloudClub's logic team and I am excited to show
                everyone our game!
              </p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <!-- <a role="a" class="btn btn-sm btn-info" href="https://github.com/kevinkim101" target="_blank">GitHub</a> -->
                  <a role="a" class="btn btn-sm btn-primary" href="http://linkedin.com/in/minssong"
                    target="_blank">LinkedIn</a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/matthew.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Matthew Mao</h1>
              <p class="card-text">Hi! My name is Matthew, a 2T4 ECE student working in the CloudClub backend team. I'm
                really interested in gaining some experience developing useful and practical web applications.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/matt8100" target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/matthewmao8100/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/tamim.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Tamim Hasan</h1>
              <p class="card-text">Hi everyone! I’m an ECE 2T4 currently on the Frontend team. I am a technology
                enthusiast currently learning different coding languages and excited to collaborate on more projects and
                technological endeavours.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/Tamim1236" target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/tamim-hasan-b86a651b8/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card mb-4 shadow-sm" style="float:none; margin:0 auto;" style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/lavanya.png" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Lavanya Mehndiratta</h1>
              <p class="card-text">Hi! I’m an ECE 2T4, and I have been working on the Frontend team for CloudClub’s
                website! A fun fact about me is that I have had lunch with Chris Hadfield.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/lavanyamehn"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/lavanya-mehndiratta/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/eri.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Eri Yoshida</h1>
              <p class="card-text">Hi everyone! I’m a Track1 2T4, working in the AI division of the club. I’m excited to
                build lots of cool AI projects!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/eriysd" target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/eriyoshida/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/yanfei.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Yanfei Zhu</h1>
              <p class="card-text">Hi! My name is Yanfei, and I'm an EngSci 2T4. I'm currently a part of the AI/ML
                sub-team. I love doing art works in my spare time!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <!-- <a role="a" class="btn btn-sm btn-info" href="https://github.com/Tamim1236"
            target="_blank">GitHub</a> -->
                  <a role="a" class="btn btn-sm btn-primary" href="www.linkedin/in/yanfei-zhu-cn"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/ernesto-fixed.jpg"
                    onerror="this.onerror=null;this.src='./assets/team/blank.jpg';" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Ernesto Huergo</h1>
              <p class="card-text">Hi! I'm Ernesto, but y'all can call me Ernie. I'm originally from Mexico, and I'm in
                my first year of Industrial Eng. I learned the basics of JavaScript during the summer, but I've already
                forgotten most of it so I'm trying to relearn everything rn.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/erniehuergo"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary"
                    href="https://www.linkedin.com/in/ernesto-huergo-04692b203/" target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/chahit.jpg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Chahit Uppal</h1>
              <p class="card-text">Hey y'all! I am an ECE 2T4 and I'm currently working with the CloudAI team to develop
                machine learning programs using PyTorch. I love coding and building. I also enjoy binge-watching movies,
                especially old movies.</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <a role="a" class="btn btn-sm btn-info" href="https://github.com/ChahitUppal"
                    target="_blank">GitHub</a>
                  <a role="a" class="btn btn-sm btn-primary" href="https://www.linkedin.com/in/chahit-uppal-9026891b1/"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="card h-200 mb-4 shadow-sm" style="float:none; margin:0 auto;"
              style="color: rgb(231, 233, 235);">
              <div class="d-flex">
                <div class="p-2 flex-fill">
                  <img class="card-image" src="./assets/team/ansh.jpeg" width="225px" height="225px">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="d-flex justify-content-center">Ansh Patel</h1>
              <p class="card-text">My name is Ansh Patel, and I was born and brought up in Mumbai, India. Currently, I
                am a first-year Computer Enigneering student at the University of Toronto. For the Winter 2021 semester,
                I am a part of the AI/ML division of CloudClub (CloudAI)!</p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <!-- <a role="a" class="btn btn-sm btn-info" href="https://github.com/ChahitUppal"
      target="_blank">GitHub</a> -->
                  <a role="a" class="btn btn-sm btn-primary" href="http://linkedin.com/in/ansh-patel-80674816a"
                    target="_blank">LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>