<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="title">
                    <h1>Verify Email</h1>
                    <img class="card-img-top"
                        src='/assets/favicon.png'>
                    </img>
                    <p>You need to verify your email to post on CloudConvos or to edit your profile. A verification email was sent when you first registered. </p>
                    <p><strong>Please click on the latest email to verify your account. The email might be in your spam!</strong></p>
                    <a href="/sendmail" class="btn btn-primary btn-round">Send Another Email</a>
                    <div id="message-container">
                        <% if (message) { %>
                            <% if (success) { %>
                            <div id="message" class="successful"><%- message -%></div>
                        <% } else { %>
                            <div id="message" class="not-successful"><%- message -%></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .page-content {
        padding: 70px;
        width: 700px;
        margin-left:auto;
        margin-right:auto;
    }
    .card-img-top {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center
    }
    .title {
        text-align: center;
    }
    .successful {
        color: rgb(66, 190, 66);
    }
    .not-successful {
        color: red;
    }
</style>
