<body class="text-center">
    <p>You need to verify your email to post on CloudConvos and to edit your profile. A verification email was sent when you first registered</p>
    <p>
        <button>Send Another Email</button>
    </p>

    <style>
        p {
            margin-top:100px;
        }
    </style>
</body>