

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #007f96;
  }
  
  
  .team-title {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 80px;
  }

  .navbar-custom {
    background-color: #50bde4;
  }

